
# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# https://editorconfig.org
root = true

[*.py]
indent_style = space
indent_size = 4

[*.{md,rst,txt,md.j2,rst.j2}]
indent_style = space
indent_size = 2

[*.{ini,toml}]
indent_style = space
indent_size = 4

[*Dockerfile]
indent_style = space
indent_size = 4

[*.js]
indent_style = space
indent_size = 2

[*.{html,css,html.j2,css.j2}]
indent_style = space
indent_size = 2

[*.{yml,yaml,yaml.j2,yml.j2}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

# The JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore
indent_style = space
indent_size = 2

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
