*.[oa]
*.l[oa]
*~
*.pyc
*.gmo
Makefile
Makefile.in
config.*
configure
.libs
.deps
intltool-*
stamp-*
libtool
ltmain.sh
missing
aclocal.m4
depcomp
install-sh
mkinstalldirs
guake.desktop
guake-prefs.desktop
org.gnome.Guake.service
Makefile.in.in
guake_globals.py
guake
guake-prefs
autom4te.cache
POTFILES