# Linux, IDE and Editors

#    pycharm
.idea

#    kde
.directory
.kdev4/
guake.kdev4

#    vim
*~

#Python stuff
*.[oa]
*.l[oa]
*.py[co]
*.mo
*.gmo
*.orig
*.pot
.eggs/
*.deb
./config.*
configure
.libs
.deps
intltool-*
stamp-*
libtool
ltmain.sh
missing
aclocal.m4
depcomp
install-sh
mkinstalldirs
guake.desktop
guake-prefs.desktop
org.gnome.Guake.service
data/org.guake.Guake.service
Makefile.in.in
autom4te.cache
POTFILES
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/gnome-doc-utils.m4
py-compile
debian
compile
doc/src/conf.py
doc-pak/
description-pak
backup-*.tgz
workdir/
activate
env/
# directory with pytest metadata
.cache
.eggs/*
*.bak
src/guake.egg-info/
__pycache__
dist/
*.egg-info/
build/
docs/_build/

AUTHORS
ChangeLog

.venv
.vscode/

guake/data/gschemas.compiled
.pytest_cache/
releasenotes/notes/reno.cache
guake/paths.py
guake/paths.py.dev
RELEASENOTES.rst
