language: python
python:
    # - "2.6": python 2.6 doesn't work with python-vte package
    "2.7"
    # - "3.2": python 33 fails in travis due to missing Python.h
virtualenv:
    system_site_packages: true
compiler:
    - gcc
before_install:
    - sudo apt-get update -qq
    - sudo apt-get install -qq --fix-missing
        build-essential
        python
        autoconf
        gnome-common
        gtk-doc-tools
        libglib2.0-dev
        libgtk2.0-dev
        libgconf2-dev
        python-gtk2
        python-gconf
        python-gtk2-dev
        python-vte
        python-appindicator
        python-keybinder

    # - sudo apt-get install -qq --fix-missing gnome-common gtk-doc-tools libglib2.0-dev libgtk2.0-dev libgconf2-dev
    # - sudo apt-get install -qq --fix-missing python-gtk2 python-gtk2-dev python-vte python-appindicator
install:
    - pip install --upgrade pip
    - pip install --upgrade -r python-requirements.txt

# unittests
before_script: ./run_tests.sh

script:
    - ./validate.sh
    - ./autogen.sh
    - ./configure && make
