language: python

dist: xenial

python:
    - "3.5"
    - "3.6"

env:
    global:
        - PIPENV_VENV_IN_PROJECT=1
        - PIPENV_IGNORE_VIRTUALENVS=1

install:
    - |
        # Force unshallow and checkout the current branch
        # https://docs.openstack.org/reno/latest/user/usage.html#within-travis-ci
        # git log --pretty=format:"%h %s" --graph
        git config remote.origin.fetch +refs/heads/*:refs/remotes/origin/*
        git fetch --unshallow --tags
        if [[ $(git rev-parse --abbrev-ref HEAD) == "master" ]]; then
            echo "reattaching HEAD on master"
            git symbolic-ref --short HEAD || git checkout -b ${TRAVIS_BRANCH}-test $TRAVIS_BRANCH
        fi
        git log --pretty=format:"%h %s" --graph

    - sudo apt update -q
    - yes | sudo ./scripts/bootstrap-dev-debian.sh
    - ./scripts/bootstrap-dev-pip.sh system
    - sudo apt install --no-install-recommends -y xvfb gir1.2-gtk-3.0 python3-gi python3-gi-cairo gir1.2-wnck-3.0 gobject-introspection libgirepository1.0-dev


before_script:
    - export DISPLAY=:99.0

script:
    # Test no system dependencies prevent readthedocs build
    - |
        (
            set -e
            mkdir test-rtd
            virtualenv test-rtd
            . ./test-rtd/bin/activate
            pip install -r requirements-dev.txt
            rm -rf test-rtd
        )
    # for dev
    - make dev-travis
    - pipenv run pip install pycairo pygobject
    # check
    - make check
    - make build
    - make test-travis
    # prepare for deployment
    - make generate-paths


deploy:
  provider: pypi
  user: stibbons
  skip_cleanup: true  # keep build artifacts for paths.py !
  distributions: sdist bdist_wheel
  password:
    secure: >
        MIbsyar7H1epBcp+TpSJ3APYUnIiQAB0M9cLEXFzqwJU1bjPev8fYNbfCQB0bA/TSHXaQjfR
        F3sTFFYxpVOxjRHPIWctBTTuKOETAd3XR96YtVRGLpglxLvI+9U5YPuGWC4SbKuAE8L8pqH9
        O9pnKqZCaarGxOm+GjEZrfzfm1g=
  on:
    tags: true
    repo: Guake/guake
    condition: $TRAVIS_PYTHON_VERSION = 3.6
