[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"
"pep8" = "*"
pylint = "*"
typed-ast = "*"
astroid = "*"
fiximports = ">=0.1.18"
mock = ">=2.0.0"
pytest-mock = "*"
pyflakes = "*"
pytest = "*"
yapf = "*"
reno = {version = ">=2.8.0",extras = ["sphinx"]}
pipenv-to-requirements = "*"
colorlog = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-programoutput = "*"
e1839a8 = {editable = true,path = "."}
twine = "*"
pathlib2 = "*"
scandir = {markers = "python_version > '3.5'"}
pyfakefs = "*"
pytest-cov = "*"
pew = "*"
black = "==21.8b0"
flakehell = "*"
toml = "*"
dataclasses = "*"

[packages]
pbr = "*"
wheel = "*"
typing = {markers = "python_version > '3.5'"}
