[Desktop Entry]
Name[ca]=Terminal Guake
Name[cs]=Guake Terminal
Name[de]=Guake-Terminal
Name[es]=Guake Terminal
Name[fa]=Guake Terminal
Name[fr]=Terminal Guake
Name[gl]=Terminal Guake
Name[hr]=Guake Terminal
Name[hu]=Guake Terminál
Name[it]=Guake Terminal
Name[ja]=Guake 端末
Name[ko]=Guake 터미널
Name[nb]=Guake Terminal
Name[nl]=Guake Terminal
Name[pa]=ਗੁਆਕੀ ਟਰਮੀਨਲ
Name[pl]=Terminal Guake
Name[pt_BR]=Terminal Guake
Name[ru]=Терминал Guake
Name[sv]=Guake Terminal
Name[tr]=Guake Uçbirim
Name[uk]=Термінал Guake
Name[zh_CN]=Guake 终端
Name=Guake Terminal
Comment[cs]=Používejte terminál jako ve hře Quake
Comment[de]=Verwende Guake in einem Quake-Terminal änlichen Terminal
Comment[fr]=Exploitez la ligne command dans un terminal tel Quake
Comment[pl]=Używanie wiersza poleceń w terminalu w stylu gry Quake
Comment[ru]=Использовать командную строку в Quake терминале
Comment=Use the command line in a Quake-like terminal
TryExec=guake
Exec=guake
Icon[cs]=guake
Icon[de]=Guake
Icon[fr]=guake
Icon[pl]=guake
Icon[ru]=guake
Icon=guake
Type=Application
Categories=GNOME;GTK;System;Utility;TerminalEmulator;
StartupNotify=true
X-Desktop-File-Install-Version=0.22
X-GNOME-Autostart-enabled=true
Hidden=false
NoDisplay=false
