[Desktop Entry]
Name=Guake Preferences
Comment=Configure your Guake sessions
TryExec=guake
Exec=guake -p
Icon=guake
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
X-GNOME-Settings-Panel=guake
X-Desktop-File-Install-Version=0.15
Keywords=Terminal;Utility;
