---
branch_name_re: stable/.+
branch_name_prefix: stable/
earliest_version: 3.0.0.a4
collapse_pre_releases: true
pre_release_tag_re: (?P<pre_release>\.(?:\d*[ab]|rc)+\d*)$
unreleased_version_title: "(unreleased yet)"
sections:
  # The prelude section is implicitly included.
  - [features, New Features]
  - [known_issues, Known Issues]
  - [upgrade, Upgrade Notes]
  - [deprecations, Deprecations]
  - [security, Security Issues]
  - [fixes, Bug Fixes]
  - [translations, Translation Updates]
  - [notes_for_package_maintainers, Notes for Package Maintainers]
  - [other, Other]
# Change prelude_section_name to 'release_summary' from default value
# 'prelude'.
prelude_section_name: release_summary
template: |
  release_summary: >
    Replace this text with content to appear at the top of the section for this
    release.

    All of the prelude content is merged together and then rendered
    separately from the items listed in other parts of the file, so the text
    needs to be worded so that both the prelude and the other items make sense
    when read independently.

    Do not use "list" syntax here

  features:
    - |
      List new features here followed by the ticket number, for example::

        - new exciting feature #1234

  known_issues:
    - |
      List know issue introduced by the change here, followed if possible by a
      ticket number, for example::

        - such other feature is broken #1234

  upgrade:
    - |
      List upgrade note for end users here

  deprecations:
    - |
      List deprecations notes heres, ie, feature that are being removed by the
      change.

  security:
    - |
      Add security notes here.

  fixes:
    - |
      Add normal bug fixes here, followed by the ticket number, for example::

        - broken feature has been fixed #1234

  translations:
    - Only put a list of updated 2 letters language code, for example::

          translations:
            - fr
            - de

  notes_for_package_maintainers:
    - |
      Add notes for package maintainers here.

  other:
    - |
      Add other notes here.
