Source: guake
Section: gnome
Priority: extra
Maintainer: Gabriel Falcao Goncalves de Moura <gabriel@guake-terminal.org>
Build-Depends: debhelper (>= 6), autotools-dev, libglib2.0-dev, libgtk2.0-dev, python-dev
Standards-Version: 3.7.3
Homepage: http://guake-terminal.org

Package: guake
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: drop-down terminal for GNOME aiming on usability
 Guake is a drop-down terminal for GNOME. Its inspired on drop-down 
 consoles of first person shoot games.
